body, html {
  background-color: black;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* .main {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.scene {
  flex-grow: 3;
  width: 492px;
  height: 492px;
  border: 1px solid red;
  border-radius: 1px;
  margin-bottom: 20px;
}

.chat {
  flex-grow: 1;
  width: 492px;
  height: 25%;
  border: 1px solid red;
  border-radius: 1px;
} */

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100% - 40px);
  position: relative;
  z-index: 3;
}

.scene {
  flex: 3;
  height: 75%;
  margin-bottom: 20px; 
  position: relative;
}

.scene div {
  background-image: url(prado_red.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1e1e1e;
}

.scene .soul-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background: black;
  color: white;
  padding: 20px;
  border: 2px solid #8d3636;
  border-radius: 4px;
  display: block;
  opacity: 0;
  transition: opacity 200ms linear;
}

.scene-background {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  transition: opacity 200ms linear;
  background-color: black;
}

.chat {
  flex: 1;
  height: 25%;
  color: red;
  padding: 10px;
  background-color: black;
  box-sizing: border-box;
  font-family: "Solway", serif;
  position: relative;
  line-height: 20px;
}

.chat .next-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: red;
  text-transform: uppercase;
  font-weight: 800;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  border: 0px solid #8d3636;
}

.chat .chat-input {
  display: none;
}

.chat .chat-input input {
  background: black;
  border: 1px solid #8d3636;
  border-radius: 4px;
  line-height: 25px;
  margin-top: 12px;
  padding: 4px 8px;
  width: calc(100% - 20px);
  color: red;
  text-transform: uppercase;
  transition: margin-left 200ms ease-in-out;
}

.chat-input.chat-input--wrong input {
  animation-name: shakeWrong;
  animation-duration: 200ms;
  animation-iteration-count: 3;
}

@keyframes shakeWrong {
  0% { margin-left: 0; }
  25% { margin-left: -5px; }
  50% { margin-left: 0px; }
  75% { margin-left: 5px; }
  100% { margin-left: 0px; }
}

.scene-background, .chat {
  border: 1px solid #8d3636;
  margin: auto;
  display: block;
  overflow: auto;
}

.scene-cover {
  background: black !important;
}

.scene-wave {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  z-index: -1;
  background: black !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  border: 10px solid rgb(175, 22, 22);

  animation-name: waveAnimation;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes waveAnimation {
  from {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  to {
    width: 2000px;
    height: 2000px;
    opacity: 0;
  }
}

.chat-option {
  display: flex;
  gap: 11px;
  align-items: center;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  color: red;
}

.chat-option--already-seen {
  color: #850000;
}

.chat-option:hover {
  background: white;
  color: #870707;
}

.chat-arrow {
  width: 1px;
  height: 1px;
  background: transparent;
  border: 5px solid transparent;
  border-left-color: currentColor;
  border-left-width: 10px;
  position: absolute;
  left: 0;
  animation-name: arrowAnimation;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrowAnimation {
  from {left: 0;}
  to {left: 4px;}
}

.soul-obtained-cover {
  z-index: 3;
  background: white !important;
  animation-name: soulObtainedAnimation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes soulObtainedAnimation {
  0% { opacity: 1; }
  5% { opacity: 0 }

  6% { opacity: 1; }
  10% { opacity: 0 }

  11% { opacity: 1; }
  15% { opacity: 0 }

  16% { opacity: 1; }
  20% { opacity: 0 }

  21% { opacity: 1; }
  26% { opacity: 0 }

  27% { opacitiy: 1 }

  50% { opacity: 1 }
  100% { opacity: 0 }
}

.ending-cover {
  z-index: 3;
  background-color: white !important;
  opacity: 0;

  animation-name: endingAnimation;
  animation-duration: 12000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes endingAnimation {
  0% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
  to {opacity: 0;}
}